 <!DOCTYPE html>

<html lang="en">
  <head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
       <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dog Classifier</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"


   <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"

    />
  </head>

  <body>
      <style>
      body {
        background-image: url({{url_for("static", filename= "dogs.jpg")}});
      }
    </style>

      <div class="wrapper">
    <div class="section_one">
      <div style="background: transparent !important" class="jumbotron">
        <div class="container mt-5">

<h1 class="u-custom-font u-font-oswald u-text u-text-black u-text-1 text-center">
            Classify
          </h1>
<h2 style="color:white" class="u-text u-text-2 text-center">Dog Breeds</h2>
          <!-- <h1 class="text-center"> -->
          <!--   <a href="/">Dog Breed Classifier</a> -->
          <!-- </h1> -->
<p>


<!-- displaying classification result if the user uploaded a file -->
<!-- showing general message otherwise -->

{% if filename %}
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
    {% else %}
    <p class="text-center" style="color:white">
            Upload an image of your dog and find out what breed it is.<br />
            Find out what happens, if you upload an image of a human

          </p>
          {% endif %}

</p>


                 <!-- <hr /> -->

          <div class="row">
            <div class="col-lg-12 form-group-lg">
                <div class="col-lg-offset-5" align="center">


<!-- From for uploading the file -->

<form method="post" action="/" enctype="multipart/form-data">

 <dl>
		<p>
          <label class="btn">
		<input type="file" name="file" autocomplete="off" required class="file-upload-wrapper", data-text="Select your file">

          </label>

			</p>
    </dl>

            <!-- <label for="imageUpload"></label> -->
        <dl>
 <p>
<!-- <label class="form-submit-button"> -->
    <input type="submit" value="Submit"/>
    <!-- Submit -->
<!-- </label> -->

		<!-- <input type="submit" value="Submit"> -->
	</p>
        </dl>
</form>


{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}


            </div>


                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

</div>

<div class="footer">
      <p>
        <a
          href="https://www.udacity.com/course/data-scientist-nanodegree--nd025"
          >Udacity Nanodegree</a
        >
        | Maximilian Joas |
        <a href="https://github.com/MaxJoas/dogBreedWebApp/blob/master/static/style.css"
          >Code on GitHub</a
        >
      </p>
    </div>
  </body>

</html>













